# Скопировать в .env.local (untracked) и заполнить реальными значениями.
API_BASE=https://<function-id>.<region>.functions.yandexcloud.net
ADMIN_KEY=тот-же-ADMIN_SECRET-что-в-переменных-окружения-функции
